[Unit]
Description=Kubernetes HTTP Reverse Proxy
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm -f kube-http-proxy
ExecStart=/usr/bin/docker run -e CONFD_ETCD_NODE=http://<ip>:4001 -p 80:80 -p 443:443 --name kube-http-proxy -v /sybase/logs/nginx:/var/log/nginx kube-http-proxy
ExecStop=/usr/bin/docker stop -t 2 kube-http-proxy ; /usr/bin/docker rm -f kube-http-proxy 
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
